In [1]:
import sys
sys.path.append('/Users/robin/code/PyAURN')

In [2]:
%matplotlib inline

In [11]:
import importAURN
import pandas as pd

In [4]:
# Get the names of the Soton sites
metadata = importAURN.importMetadata()
soton_sites = metadata[metadata.site_name.str.contains('Southampton')]
soton_sites = soton_sites[['site_id', 'site_name', 'latitude', 'longitude']]
soton_sites.to_csv('AURN_Soton_Site_Locations.csv')

In [5]:
soton_sites

     site_id           site_name   latitude  longitude
1634    SA33     Southampton A33  50.920265  -1.463484
1785    SOUT  Southampton Centre  50.908140  -1.395778

In [6]:
SOUT = importAURN.importAURN('SOUT', range(2018, 2020))
SA33 = importAURN.importAURN('SA33', range(2018, 2020))

In [14]:
latest_month_slice = slice('2019-09-01', '2019-09-30')

In [15]:
def get_stats(df, column):
    stats = df[column][latest_month_slice].describe().loc[['mean', 'max', 'min', '50%']].to_frame().T
    stats['site_id'] = df.iloc[0].code
    
    return stats

In [16]:
all_stats = pd.concat([get_stats(SOUT, 'PM10'), get_stats(SA33, 'PM10')])
all_stats

           mean   max  min    50% site_id
PM10  14.263472  43.8 -2.7  13.35    SOUT
PM10  12.547639  38.0  1.7  11.70    SA33

In [17]:
merged = pd.merge(soton_sites, all_stats, on='site_id')
merged

,site_id,site_name,latitude,longitude,mean,max,min,50%
0,SA33,Southampton A33,50.920265,-1.463484,12.547639,38.0,1.7,11.70
1,SOUT,Southampton Centre,50.908140,-1.395778,14.263472,43.8,-2.7,13.35

In [71]:
merged.to_csv('AURN_Soton_Feb19Stats.csv')